/* card */
.person-card {
  width: 430px;
  border: 1px solid #DDDCDC;
  border-radius: 24px;
  padding: 24px;
  margin-bottom: 24px;
}

.scroll-wrapper {
  max-height: 72vh;
  overflow: scroll;
}


/* header */
.header-card {
  display: flex;
  justify-content: space-between;
}

.icon-wrapper:hover {
  cursor: pointer;
}

.icon-wrapper img {
  cursor: pointer;
}

.icon-wrapper img:hover {
  opacity: 70%;
}

.icon-wrapper img:first-child{
  margin-right: 8px;
}


/* title */
.card-title {
  font-size: 18px;
  margin-bottom: 16px;
}


/* campos */
.label-field {
  font-weight: 800;
  margin: 0 8px;
}

.field {
  display: flex;
  font-size: 12px;
  margin-bottom: 16px;
}

.field:last-child {
  margin-bottom: 0;
}